<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f-10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,898},{222,150}}</string>
                <key>offset</key>
                <string>{-383,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,225},{222,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>f-10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,236},{442,226}}</string>
                <key>offset</key>
                <string>{-208,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,275},{442,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>f-10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{568,180}}</string>
                <key>offset</key>
                <string>{-98,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,319},{568,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>f-10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{550,196}}</string>
                <key>offset</key>
                <string>{-61,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,302},{550,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>f-10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,464},{476,192}}</string>
                <key>offset</key>
                <string>{-28,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,300},{476,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>f-10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{308,236}}</string>
                <key>offset</key>
                <string>{84,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,282},{308,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>f-10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{444,232}}</string>
                <key>offset</key>
                <string>{199,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,294},{444,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>f-10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,780},{372,242}}</string>
                <key>offset</key>
                <string>{177,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{503,290},{372,242}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>f-10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{538,270}}</string>
                <key>offset</key>
                <string>{243,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,282},{538,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>f-10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{512,242}}</string>
                <key>offset</key>
                <string>{256,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{512,319},{512,242}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>f-10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,658},{402,120}}</string>
                <key>offset</key>
                <string>{311,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{622,445},{402,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>feng.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0414ba229793d39af7c924caa4ff08d:1/1$</string>
            <key>textureFileName</key>
            <string>feng.png</string>
        </dict>
    </dict>
</plist>
