<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tc0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2328,190},{186,118}}</string>
                <key>offset</key>
                <string>{-13,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,506},{186,118}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2328,190},{186,118}}</string>
                <key>offset</key>
                <string>{-13,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,506},{186,118}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2328,190},{186,118}}</string>
                <key>offset</key>
                <string>{-13,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,506},{186,118}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2328,190},{186,118}}</string>
                <key>offset</key>
                <string>{-13,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,506},{186,118}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,1282},{184,116}}</string>
                <key>offset</key>
                <string>{-12,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,508},{184,116}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2448,2},{184,118}}</string>
                <key>offset</key>
                <string>{-12,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,506},{184,118}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2328,2},{186,118}}</string>
                <key>offset</key>
                <string>{-13,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,506},{186,118}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2176,428},{186,120}}</string>
                <key>offset</key>
                <string>{-14,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,504},{186,120}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,428},{188,120}}</string>
                <key>offset</key>
                <string>{-14,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,504},{188,120}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1538},{186,122}}</string>
                <key>offset</key>
                <string>{-13,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,502},{186,122}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2208,190},{186,118}}</string>
                <key>offset</key>
                <string>{-13,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,506},{186,118}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2364,378},{184,118}}</string>
                <key>offset</key>
                <string>{-12,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,506},{184,118}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,1096},{184,116}}</string>
                <key>offset</key>
                <string>{-12,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,508},{184,116}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2058,910},{184,116}}</string>
                <key>offset</key>
                <string>{-12,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,508},{184,116}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2448,188},{184,116}}</string>
                <key>offset</key>
                <string>{-12,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,508},{184,116}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2208,2},{186,118}}</string>
                <key>offset</key>
                <string>{-13,-115}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,506},{186,118}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,588},{322,152}}</string>
                <key>offset</key>
                <string>{-23,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,476},{322,152}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,1402},{322,152}}</string>
                <key>offset</key>
                <string>{-23,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,476},{322,152}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1986,2},{424,220}}</string>
                <key>offset</key>
                <string>{-23,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,439},{424,220}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,976},{424,220}}</string>
                <key>offset</key>
                <string>{-23,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,439},{424,220}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,588},{584,320}}</string>
                <key>offset</key>
                <string>{-61,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,407},{584,320}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,2},{584,320}}</string>
                <key>offset</key>
                <string>{-61,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,407},{584,320}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1026},{670,360}}</string>
                <key>offset</key>
                <string>{-106,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,371},{670,360}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1098},{670,360}}</string>
                <key>offset</key>
                <string>{-106,-101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,371},{670,360}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,976},{966,554}}</string>
                <key>offset</key>
                <string>{6,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,267},{966,554}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1098},{862,456}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,239},{862,456}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{972,636}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,176},{972,636}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{1022,496}}</string>
                <key>offset</key>
                <string>{-5,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,150},{1022,496}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1094,524}}</string>
                <key>offset</key>
                <string>{1,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,111},{1094,524}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1770},{1040,238}}</string>
                <key>offset</key>
                <string>{-26,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,397},{1040,238}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
            <key>tc0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,1402},{134,158}}</string>
                <key>offset</key>
                <string>{-12,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{471,477},{134,158}}</string>
                <key>sourceSize</key>
                <string>{1100,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mk_out.png</string>
            <key>size</key>
            <string>{4096,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35ba9a960e201becc55099956ea76347:1/1$</string>
            <key>textureFileName</key>
            <string>mk_out.png</string>
        </dict>
    </dict>
</plist>
