<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sb-10044.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2484},{754,606}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{754,606}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1516,2346},{754,606}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{754,606}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2306,1294},{754,612}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{754,612}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2284,1908},{754,606}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{754,606}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,1734},{754,610}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,1},{754,610}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10049.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1874},{754,608}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{754,608}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10050.png</key>
            <dict>
                <key>frame</key>
                <string>{{3124,786},{754,614}}</string>
                <key>offset</key>
                <string>{11,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{754,614}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10051.png</key>
            <dict>
                <key>frame</key>
                <string>{{3062,1402},{754,606}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{754,606}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10052.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1124},{762,608}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{762,608}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10053.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2444},{754,606}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{754,606}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1226},{764,608}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,1},{764,608}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10055.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1836},{756,606}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{756,606}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10056.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,696},{766,608}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{766,608}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2358,686},{764,606}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{764,606}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10058.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1306},{758,566}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,49},{758,566}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10059.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3052},{754,566}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,49},{754,566}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10060.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,3092},{754,528}}</string>
                <key>offset</key>
                <string>{11,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,86},{754,528}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{770,530}}</string>
                <key>offset</key>
                <string>{3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,85},{770,530}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1588,686},{768,436}}</string>
                <key>offset</key>
                <string>{4,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,180},{768,436}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10063.png</key>
            <dict>
                <key>frame</key>
                <string>{{3184,348},{770,436}}</string>
                <key>offset</key>
                <string>{3,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,179},{770,436}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{774,342}}</string>
                <key>offset</key>
                <string>{1,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,272},{774,342}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10065.png</key>
            <dict>
                <key>frame</key>
                <string>{{3186,2},{792,344}}</string>
                <key>offset</key>
                <string>{-8,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,272},{792,344}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2390,342},{792,342}}</string>
                <key>offset</key>
                <string>{-8,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,271},{792,342}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,2},{794,340}}</string>
                <key>offset</key>
                <string>{-8,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,271},{794,340}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,344},{792,340}}</string>
                <key>offset</key>
                <string>{-8,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,267},{792,340}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10069.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{794,342}}</string>
                <key>offset</key>
                <string>{-8,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,267},{794,342}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2390,2},{794,338}}</string>
                <key>offset</key>
                <string>{-8,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,270},{794,338}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{794,346}}</string>
                <key>offset</key>
                <string>{-8,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,270},{794,346}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10072.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,346},{788,348}}</string>
                <key>offset</key>
                <string>{-6,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,272},{788,348}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,3092},{754,350}}</string>
                <key>offset</key>
                <string>{11,-131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,276},{754,350}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10074.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,3620},{754,366}}</string>
                <key>offset</key>
                <string>{11,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,272},{754,366}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10075.png</key>
            <dict>
                <key>frame</key>
                <string>{{3040,2010},{754,334}}</string>
                <key>offset</key>
                <string>{11,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,273},{754,334}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
            <key>sb-10076.png</key>
            <dict>
                <key>frame</key>
                <string>{{3880,786},{754,188}}</string>
                <key>offset</key>
                <string>{11,-193}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,419},{754,188}}</string>
                <key>sourceSize</key>
                <string>{810,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shan_beng.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86bdfd94329bed4688892a4e2c94c1a7:1/1$</string>
            <key>textureFileName</key>
            <string>shan_beng.png</string>
        </dict>
    </dict>
</plist>
