<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>y-10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,946},{54,48}}</string>
                <key>offset</key>
                <string>{-457,353}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,7},{54,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,740},{48,36}}</string>
                <key>offset</key>
                <string>{-414,347}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,19},{48,36}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,386},{36,30}}</string>
                <key>offset</key>
                <string>{-371,341}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,28},{36,30}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,694},{20,32}}</string>
                <key>offset</key>
                <string>{-328,333}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,35},{20,32}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,82},{2,32}}</string>
                <key>offset</key>
                <string>{-285,324}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,44},{2,32}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,802},{18,30}}</string>
                <key>offset</key>
                <string>{-242,314}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,55},{18,30}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,774},{32,26}}</string>
                <key>offset</key>
                <string>{-199,303}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,68},{32,26}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,822},{40,28}}</string>
                <key>offset</key>
                <string>{-156,290}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,80},{40,28}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,790},{40,36}}</string>
                <key>offset</key>
                <string>{-113,279}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,87},{40,36}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,392},{428,52}}</string>
                <key>offset</key>
                <string>{-271,274}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,84},{428,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{438,52}}</string>
                <key>offset</key>
                <string>{-246,256}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,102},{438,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{436,78}}</string>
                <key>offset</key>
                <string>{-221,239}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,106},{436,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,592},{422,112}}</string>
                <key>offset</key>
                <string>{-194,230}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,98},{422,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,706},{416,134}}</string>
                <key>offset</key>
                <string>{-159,222}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,95},{416,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,446},{424,144}}</string>
                <key>offset</key>
                <string>{-123,214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,98},{424,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,236},{446,148}}</string>
                <key>offset</key>
                <string>{-98,202}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,108},{446,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,2},{456,160}}</string>
                <key>offset</key>
                <string>{-73,185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,119},{456,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{456,182}}</string>
                <key>offset</key>
                <string>{-48,170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,123},{456,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,186},{448,204}}</string>
                <key>offset</key>
                <string>{-22,157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,125},{448,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,164},{452,220}}</string>
                <key>offset</key>
                <string>{11,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,128},{452,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{462,232}}</string>
                <key>offset</key>
                <string>{44,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,129},{462,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{470,236}}</string>
                <key>offset</key>
                <string>{74,130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,136},{470,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10023.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,354},{16,14}}</string>
                <key>offset</key>
                <string>{-128,233}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,144},{16,14}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,434},{424,66}}</string>
                <key>offset</key>
                <string>{-296,193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,158},{424,66}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{398,80}}</string>
                <key>offset</key>
                <string>{-256,181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,163},{398,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,908},{384,78}}</string>
                <key>offset</key>
                <string>{-221,171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,174},{384,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10027.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,816},{398,62}}</string>
                <key>offset</key>
                <string>{-190,160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,193},{398,62}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10028.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,502},{408,42}}</string>
                <key>offset</key>
                <string>{-159,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,214},{408,42}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10029.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,546},{408,26}}</string>
                <key>offset</key>
                <string>{-126,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,235},{408,26}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10030.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,832},{388,40}}</string>
                <key>offset</key>
                <string>{-84,126}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,238},{388,40}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1834,386},{392,18}}</string>
                <key>offset</key>
                <string>{-58,116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,259},{392,18}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,480},{382,22}}</string>
                <key>offset</key>
                <string>{-25,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,271},{382,22}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10033.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,880},{396,26}}</string>
                <key>offset</key>
                <string>{3,92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,279},{396,26}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10034.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,240},{410,30}}</string>
                <key>offset</key>
                <string>{32,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{339,286},{410,30}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10035.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,452},{422,36}}</string>
                <key>offset</key>
                <string>{58,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,292},{422,36}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10036.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,386},{430,46}}</string>
                <key>offset</key>
                <string>{83,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,300},{430,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,202},{12,4}}</string>
                <key>offset</key>
                <string>{-105,73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{401,309},{12,4}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,186},{14,4}}</string>
                <key>offset</key>
                <string>{-85,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,315},{14,4}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10039.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,922},{12,8}}</string>
                <key>offset</key>
                <string>{-63,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,320},{12,8}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10040.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,908},{12,12}}</string>
                <key>offset</key>
                <string>{-42,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,324},{12,12}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10041.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,372},{12,14}}</string>
                <key>offset</key>
                <string>{-20,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{486,329},{12,14}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10042.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,856},{16,16}}</string>
                <key>offset</key>
                <string>{1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{505,334},{16,16}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10043.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,836},{18,18}}</string>
                <key>offset</key>
                <string>{23,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{526,339},{18,18}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10050.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,876},{68,60}}</string>
                <key>offset</key>
                <string>{-465,244}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,110},{68,60}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10051.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,996},{80,50}}</string>
                <key>offset</key>
                <string>{-406,238}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,121},{80,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10052.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,652},{86,36}}</string>
                <key>offset</key>
                <string>{-346,232}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,134},{86,36}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10053.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,392},{86,18}}</string>
                <key>offset</key>
                <string>{-286,226}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,149},{86,18}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,2},{78,2}}</string>
                <key>offset</key>
                <string>{-226,220}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,163},{78,2}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10055.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,236},{64,14}}</string>
                <key>offset</key>
                <string>{-166,214}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,163},{64,14}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10056.png</key>
            <dict>
                <key>frame</key>
                <string>{{1854,2},{414,188}}</string>
                <key>offset</key>
                <string>{-289,290}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{414,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10057.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,842},{412,194}}</string>
                <key>offset</key>
                <string>{-236,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,0},{412,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10058.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{432,198}}</string>
                <key>offset</key>
                <string>{-192,285}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,0},{432,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,386},{444,194}}</string>
                <key>offset</key>
                <string>{-173,262}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,25},{444,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{434,198}}</string>
                <key>offset</key>
                <string>{-143,244}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,41},{434,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10061.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,574},{398,240}}</string>
                <key>offset</key>
                <string>{-102,247}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,17},{398,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{348,260}}</string>
                <key>offset</key>
                <string>{-54,239}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,15},{348,260}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10063.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,988},{362,258}}</string>
                <key>offset</key>
                <string>{-40,221}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,34},{362,258}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{342,264}}</string>
                <key>offset</key>
                <string>{-8,206}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,46},{342,264}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,582},{324,268}}</string>
                <key>offset</key>
                <string>{28,188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,62},{324,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,780},{300,272}}</string>
                <key>offset</key>
                <string>{67,170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,78},{300,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10067.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,424},{30,26}}</string>
                <key>offset</key>
                <string>{-33,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,84},{30,26}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10068.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,856},{44,40}}</string>
                <key>offset</key>
                <string>{2,276}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,88},{44,40}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10069.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,610},{46,22}}</string>
                <key>offset</key>
                <string>{24,259}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{513,114},{46,22}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10070.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,502},{70,12}}</string>
                <key>offset</key>
                <string>{46,232}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{523,146},{70,12}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10071.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,770},{64,18}}</string>
                <key>offset</key>
                <string>{68,208}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{548,167},{64,18}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10072.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,574},{34,24}}</string>
                <key>offset</key>
                <string>{91,183}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{586,189},{34,24}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10073.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,680},{12,22}}</string>
                <key>offset</key>
                <string>{111,159}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{617,214},{12,22}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,842},{10,20}}</string>
                <key>offset</key>
                <string>{136,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{643,237},{10,20}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10075.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,332},{20,14}}</string>
                <key>offset</key>
                <string>{161,118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{663,259},{20,14}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10076.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,750},{18,20}}</string>
                <key>offset</key>
                <string>{184,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{687,277},{18,20}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10077.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,728},{20,20}}</string>
                <key>offset</key>
                <string>{202,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{704,298},{20,20}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10078.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,302},{28,14}}</string>
                <key>offset</key>
                <string>{224,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{722,321},{28,14}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10079.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,658},{22,20}}</string>
                <key>offset</key>
                <string>{247,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{748,344},{22,20}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10080.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10081.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10082.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10084.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10085.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10087.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10088.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10089.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10090.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10091.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10092.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>y-10094.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,116},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuye.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22eb149067c27d2143a0888eaba2c4a8:1/1$</string>
            <key>textureFileName</key>
            <string>shuye.png</string>
        </dict>
    </dict>
</plist>
