<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ts10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,566},{102,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{102,228}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,336},{102,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{102,228}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,106},{102,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{102,228}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{102,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{102,228}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,562},{102,226}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{102,226}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,334},{102,226}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{102,226}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,314},{102,226}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{102,226}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,314},{102,226}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{102,226}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,314},{102,226}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{102,226}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,210},{102,226}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{102,226}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,210},{102,226}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{102,226}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,790},{102,224}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{102,224}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,210},{102,226}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{102,226}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,106},{102,226}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{102,226}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,106},{102,226}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{102,226}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,106},{102,226}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{102,226}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,106},{102,226}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{102,226}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,796},{102,226}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{102,226}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{102,226}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{102,226}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{102,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{102,228}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{102,228}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{102,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{102,228}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{102,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{102,228}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{102,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{102,228}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{102,228}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
            <key>ts10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,228}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{102,228}}</string>
                <key>sourceSize</key>
                <string>{110,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ts1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfdf3cef8a17974f7112f7a6b621f5ab:1/1$</string>
            <key>textureFileName</key>
            <string>ts1.png</string>
        </dict>
    </dict>
</plist>
