<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>p-10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{94,158}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{94,158}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>p-10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{94,158}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{94,158}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>p-10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{94,158}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{94,158}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>p-10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{94,158}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{94,158}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>p-10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{96,160}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{96,160}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>p-10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{96,160}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{96,160}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>p-10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{96,160}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{96,160}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>p-10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,160}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{96,160}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>p-10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,160}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{96,160}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>p-10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,160}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{96,160}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
            <key>p-10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,160}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{96,160}}</string>
                <key>sourceSize</key>
                <string>{110,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ts_creep.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0559d0fb0db0aea8f9b1b9dd9469d495:1/1$</string>
            <key>textureFileName</key>
            <string>ts_creep.png</string>
        </dict>
    </dict>
</plist>
