<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sf0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,468},{100,212}}</string>
                <key>offset</key>
                <string>{-55,203}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,11},{100,212}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,468},{100,212}}</string>
                <key>offset</key>
                <string>{-55,203}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,11},{100,212}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,272},{104,212}}</string>
                <key>offset</key>
                <string>{-57,203}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,11},{104,212}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,272},{104,212}}</string>
                <key>offset</key>
                <string>{-57,203}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,11},{104,212}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,272},{104,212}}</string>
                <key>offset</key>
                <string>{-57,203}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,11},{104,212}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,162},{108,212}}</string>
                <key>offset</key>
                <string>{-59,203}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,11},{108,212}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,162},{108,212}}</string>
                <key>offset</key>
                <string>{-59,203}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,11},{108,212}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,162},{108,212}}</string>
                <key>offset</key>
                <string>{-59,203}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,11},{108,212}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,550},{124,162}}</string>
                <key>offset</key>
                <string>{-51,178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,61},{124,162}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,550},{124,162}}</string>
                <key>offset</key>
                <string>{-51,178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,61},{124,162}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,550},{124,162}}</string>
                <key>offset</key>
                <string>{-51,178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,61},{124,162}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,856},{98,158}}</string>
                <key>offset</key>
                <string>{-63,176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,65},{98,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,856},{98,158}}</string>
                <key>offset</key>
                <string>{-63,176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,65},{98,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,856},{98,158}}</string>
                <key>offset</key>
                <string>{-63,176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,65},{98,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,816},{166,158}}</string>
                <key>offset</key>
                <string>{-29,176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,65},{166,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,844},{176,158}}</string>
                <key>offset</key>
                <string>{-25,176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,65},{176,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,696},{182,158}}</string>
                <key>offset</key>
                <string>{-22,176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,65},{182,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{186,158}}</string>
                <key>offset</key>
                <string>{-20,176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,65},{186,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,570},{194,158}}</string>
                <key>offset</key>
                <string>{-15,176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,65},{194,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{204,158}}</string>
                <key>offset</key>
                <string>{-10,176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,65},{204,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{212,158}}</string>
                <key>offset</key>
                <string>{-7,176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,65},{212,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{218,162}}</string>
                <key>offset</key>
                <string>{-3,175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,64},{218,162}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,358},{222,166}}</string>
                <key>offset</key>
                <string>{-1,172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,65},{222,166}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,378},{232,170}}</string>
                <key>offset</key>
                <string>{4,171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,64},{232,170}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,298},{246,168}}</string>
                <key>offset</key>
                <string>{10,172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,64},{246,168}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,182},{254,174}}</string>
                <key>offset</key>
                <string>{15,169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,64},{254,174}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{262,176}}</string>
                <key>offset</key>
                <string>{19,167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,65},{262,176}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{268,178}}</string>
                <key>offset</key>
                <string>{21,167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,64},{268,178}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,178}}</string>
                <key>offset</key>
                <string>{23,167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,64},{270,178}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{126,158}}</string>
                <key>offset</key>
                <string>{-49,176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,65},{126,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{126,158}}</string>
                <key>offset</key>
                <string>{-49,176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,65},{126,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{126,158}}</string>
                <key>offset</key>
                <string>{-49,176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,65},{126,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{126,158}}</string>
                <key>offset</key>
                <string>{-49,176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,65},{126,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{126,158}}</string>
                <key>offset</key>
                <string>{-49,176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,65},{126,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{126,158}}</string>
                <key>offset</key>
                <string>{-49,176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,65},{126,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,970},{98,158}}</string>
                <key>offset</key>
                <string>{-59,176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,65},{98,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,970},{98,158}}</string>
                <key>offset</key>
                <string>{-59,176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,65},{98,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,970},{98,158}}</string>
                <key>offset</key>
                <string>{-59,176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,65},{98,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,956},{100,138}}</string>
                <key>offset</key>
                <string>{-58,187}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,64},{100,138}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,854},{106,148}}</string>
                <key>offset</key>
                <string>{-58,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,112},{106,148}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,854},{114,158}}</string>
                <key>offset</key>
                <string>{-58,82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,159},{114,158}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,730},{122,168}}</string>
                <key>offset</key>
                <string>{-58,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,207},{122,168}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,714},{128,178}}</string>
                <key>offset</key>
                <string>{-58,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,254},{128,178}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,678},{136,188}}</string>
                <key>offset</key>
                <string>{-58,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,302},{136,188}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,550},{144,200}}</string>
                <key>offset</key>
                <string>{-58,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,348},{144,200}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,526},{150,210}}</string>
                <key>offset</key>
                <string>{-58,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,396},{150,210}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{116,258}}</string>
                <key>offset</key>
                <string>{-48,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,369},{116,258}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{116,258}}</string>
                <key>offset</key>
                <string>{-48,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,369},{116,258}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{116,254}}</string>
                <key>offset</key>
                <string>{-48,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,373},{116,254}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{116,254}}</string>
                <key>offset</key>
                <string>{-48,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,373},{116,254}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{116,258}}</string>
                <key>offset</key>
                <string>{-48,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,369},{116,258}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{116,258}}</string>
                <key>offset</key>
                <string>{-48,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,369},{116,258}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,180},{116,260}}</string>
                <key>offset</key>
                <string>{-48,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,367},{116,260}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,180},{116,260}}</string>
                <key>offset</key>
                <string>{-48,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,367},{116,260}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,180},{116,260}}</string>
                <key>offset</key>
                <string>{-48,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,367},{116,260}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,180},{116,260}}</string>
                <key>offset</key>
                <string>{-48,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,367},{116,260}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,180},{116,260}}</string>
                <key>offset</key>
                <string>{-48,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,367},{116,260}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,180},{116,260}}</string>
                <key>offset</key>
                <string>{-48,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,367},{116,260}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,180},{116,260}}</string>
                <key>offset</key>
                <string>{-48,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,367},{116,260}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,180},{116,260}}</string>
                <key>offset</key>
                <string>{-48,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,367},{116,260}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,180},{116,260}}</string>
                <key>offset</key>
                <string>{-48,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,367},{116,260}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,180},{116,260}}</string>
                <key>offset</key>
                <string>{-48,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,367},{116,260}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,180},{116,260}}</string>
                <key>offset</key>
                <string>{-48,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,367},{116,260}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,180},{116,260}}</string>
                <key>offset</key>
                <string>{-48,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,367},{116,260}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,180},{116,260}}</string>
                <key>offset</key>
                <string>{-48,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,367},{116,260}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,180},{116,260}}</string>
                <key>offset</key>
                <string>{-48,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,367},{116,260}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,180},{116,260}}</string>
                <key>offset</key>
                <string>{-48,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,367},{116,260}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,180},{116,260}}</string>
                <key>offset</key>
                <string>{-48,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,367},{116,260}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
            <key>sf0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,180},{116,260}}</string>
                <key>offset</key>
                <string>{-48,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,367},{116,260}}</string>
                <key>sourceSize</key>
                <string>{340,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ts_lingfu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:419264d740115c1f347b74786865ef50:1/1$</string>
            <key>textureFileName</key>
            <string>ts_lingfu.png</string>
        </dict>
    </dict>
</plist>
