<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tssb0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,826},{116,472}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,33},{116,472}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,802},{116,472}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,33},{116,472}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,708},{116,472}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,33},{116,472}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,684},{116,472}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,33},{116,472}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,472},{186,488}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,17},{186,488}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1118},{186,488}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,17},{186,488}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,492},{186,488}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,17},{186,488}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,378},{186,488}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,17},{186,488}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{280,494}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,11},{280,494}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{280,494}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,11},{280,494}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{280,494}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,11},{280,494}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{280,494}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,11},{280,494}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,590},{116,472}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,33},{116,472}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,566},{116,472}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,33},{116,472}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,472},{116,472}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,33},{116,472}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,472},{116,472}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,33},{116,472}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,284},{186,488}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,17},{186,488}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,284},{186,488}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,17},{186,488}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,190},{186,488}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,17},{186,488}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,2},{186,488}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,17},{186,488}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{280,494}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,11},{280,494}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,494}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,11},{280,494}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,494}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,11},{280,494}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,494}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,11},{280,494}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,472},{116,472}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,33},{116,472}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,472},{116,472}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,33},{116,472}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,472},{116,472}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,33},{116,472}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,472},{116,472}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,33},{116,472}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{186,488}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,17},{186,488}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,2},{186,488}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,17},{186,488}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1430},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1274},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,946},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1118},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,804},{104,154}}</string>
                <key>offset</key>
                <string>{13,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{104,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,1922},{106,144}}</string>
                <key>offset</key>
                <string>{8,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,361},{106,144}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1924},{122,146}}</string>
                <key>offset</key>
                <string>{10,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,359},{122,146}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1892},{100,148}}</string>
                <key>offset</key>
                <string>{11,-176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,357},{100,148}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1740},{100,150}}</string>
                <key>offset</key>
                <string>{11,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,355},{100,150}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1586},{100,152}}</string>
                <key>offset</key>
                <string>{11,-174}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,353},{100,152}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1742},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1608},{100,156}}</string>
                <key>offset</key>
                <string>{11,-172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,349},{100,156}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1766},{100,156}}</string>
                <key>offset</key>
                <string>{11,-172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,349},{100,156}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1766},{100,156}}</string>
                <key>offset</key>
                <string>{11,-172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,349},{100,156}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,648},{104,154}}</string>
                <key>offset</key>
                <string>{13,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{104,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1608},{106,156}}</string>
                <key>offset</key>
                <string>{8,-172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,349},{106,156}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,982},{122,156}}</string>
                <key>offset</key>
                <string>{10,-172}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,349},{122,156}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,960},{100,156}}</string>
                <key>offset</key>
                <string>{11,-172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,349},{100,156}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,1586},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1430},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1274},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,946},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1118},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1586},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,492},{104,154}}</string>
                <key>offset</key>
                <string>{13,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{104,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1766},{106,154}}</string>
                <key>offset</key>
                <string>{8,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,351},{106,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,982},{122,154}}</string>
                <key>offset</key>
                <string>{10,-173}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,351},{122,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1430},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1274},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1118},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1430},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1274},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,946},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1118},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1942,804},{104,154}}</string>
                <key>offset</key>
                <string>{13,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{104,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1924},{106,154}}</string>
                <key>offset</key>
                <string>{8,-173}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,351},{106,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,982},{122,154}}</string>
                <key>offset</key>
                <string>{10,-173}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,351},{122,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
            <key>tssb0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,1430},{100,154}}</string>
                <key>offset</key>
                <string>{11,-173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,351},{100,154}}</string>
                <key>sourceSize</key>
                <string>{370,510}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tslost.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4962a558d1da9ac77d86c91a632b2255:1/1$</string>
            <key>textureFileName</key>
            <string>tslost.png</string>
        </dict>
    </dict>
</plist>
