<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>x0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,238},{90,62}}</string>
                <key>offset</key>
                <string>{12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,118},{90,62}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,296},{84,62}}</string>
                <key>offset</key>
                <string>{11,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,115},{84,62}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{78,62}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,113},{78,62}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,398},{72,62}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,111},{72,62}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,360},{66,64}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,107},{66,64}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,356},{60,64}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,105},{60,64}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{52,64}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,103},{52,64}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,312},{46,66}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,99},{46,66}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,160},{40,66}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,97},{40,66}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,228},{36,66}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,95},{36,66}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,312},{42,66}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,93},{42,66}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,238},{50,68}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,90},{50,68}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,290},{58,68}}</string>
                <key>offset</key>
                <string>{12,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,88},{58,68}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,360},{66,70}}</string>
                <key>offset</key>
                <string>{12,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,84},{66,70}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,234},{74,70}}</string>
                <key>offset</key>
                <string>{12,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,82},{74,70}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,162},{82,70}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,80},{82,70}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,306},{90,72}}</string>
                <key>offset</key>
                <string>{11,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,77},{90,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,428},{98,72}}</string>
                <key>offset</key>
                <string>{11,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,75},{98,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,238},{106,72}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,73},{106,72}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,162},{114,74}}</string>
                <key>offset</key>
                <string>{11,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,69},{114,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,430},{122,74}}</string>
                <key>offset</key>
                <string>{11,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,67},{122,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{126,74}}</string>
                <key>offset</key>
                <string>{12,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,67},{126,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{132,74}}</string>
                <key>offset</key>
                <string>{12,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,66},{132,74}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,160},{138,76}}</string>
                <key>offset</key>
                <string>{11,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,64},{138,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,82},{144,76}}</string>
                <key>offset</key>
                <string>{11,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,64},{144,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{148,76}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,63},{148,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,82},{154,78}}</string>
                <key>offset</key>
                <string>{12,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,61},{154,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{160,78}}</string>
                <key>offset</key>
                <string>{11,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,60},{160,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{166,78}}</string>
                <key>offset</key>
                <string>{11,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,60},{166,78}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>x0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,80}}</string>
                <key>offset</key>
                <string>{12,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,58},{170,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xin.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1a0ad8c23fc313978b490c9ee36a1d1:1/1$</string>
            <key>textureFileName</key>
            <string>xin.png</string>
        </dict>
    </dict>
</plist>
